---
title: Ráðningar sannprófun i9 sannprófun
description: Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 3ba95d50b8262fa0f43d4faad76adac4d05eb3ea
ms.translationtype: HT
ms.contentlocale: is-IS
ms.lasthandoff: 09/27/2019
ms.locfileid: "2178399"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="2b82b-103">Ráðningar sannprófun i9 sannprófun</span><span class="sxs-lookup"><span data-stu-id="2b82b-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="2b82b-104">Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna.</span><span class="sxs-lookup"><span data-stu-id="2b82b-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="2b82b-105">Þetta ferli mun fara í gegnum skref til að skrá nauðsynleg skjöl fyrir I-9 staðfestingu.</span><span class="sxs-lookup"><span data-stu-id="2b82b-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="2b82b-106">Nota USMF fyrirtæki fyrir þessa aðferð.</span><span class="sxs-lookup"><span data-stu-id="2b82b-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="2b82b-107">Farið í Mannauður > Starfsfólk > Starfsmenn.</span><span class="sxs-lookup"><span data-stu-id="2b82b-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="2b82b-108">Nota flýtiafmörkun til að finna færslur</span><span class="sxs-lookup"><span data-stu-id="2b82b-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="2b82b-109">Til dæmis, sía svæðið Heiti með gildinu 'Vince'.</span><span class="sxs-lookup"><span data-stu-id="2b82b-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="2b82b-110">Velja starfsmann.</span><span class="sxs-lookup"><span data-stu-id="2b82b-110">Select the employee.</span></span> <span data-ttu-id="2b82b-111">Dæmi: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="2b82b-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="2b82b-112">Útvíkka flýtiflipann Persónuupplýsingar.</span><span class="sxs-lookup"><span data-stu-id="2b82b-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="2b82b-113">Smellt er á Auðkennisnúmer.</span><span class="sxs-lookup"><span data-stu-id="2b82b-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="2b82b-114">Smellt er á Nýtt.</span><span class="sxs-lookup"><span data-stu-id="2b82b-114">Click New.</span></span>
7. <span data-ttu-id="2b82b-115">Velja gerð auðkennis sem verið er að skrá.</span><span class="sxs-lookup"><span data-stu-id="2b82b-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="2b82b-116">Dæmi: Vegabréf</span><span class="sxs-lookup"><span data-stu-id="2b82b-116">Example: Passport</span></span>
8. <span data-ttu-id="2b82b-117">Í reitnum Númer skal slá inn gildi.</span><span class="sxs-lookup"><span data-stu-id="2b82b-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="2b82b-118">Veljið Já í aðalreitnum.</span><span class="sxs-lookup"><span data-stu-id="2b82b-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="2b82b-119">Í reitinn Lýsing er færð inn stutt lýsing á auðkennisfærslunni.</span><span class="sxs-lookup"><span data-stu-id="2b82b-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="2b82b-120">Velja útgáfuaðilinn velur aðilann sem gaf út eyðublað til að auðkenna starfsmann.</span><span class="sxs-lookup"><span data-stu-id="2b82b-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="2b82b-121">Dæmi: Stjórnvalda</span><span class="sxs-lookup"><span data-stu-id="2b82b-121">Example: Government</span></span>
12. <span data-ttu-id="2b82b-122">Færið inn dagsetningu sem aðilinn gaf út eyðublaðið fyrir auðkenningu starfsmanns.</span><span class="sxs-lookup"><span data-stu-id="2b82b-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="2b82b-123">Dæmi: 02/15/2011</span><span class="sxs-lookup"><span data-stu-id="2b82b-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="2b82b-124">Færið inn dagsetninguna eyðublað fyrir auðkenningu rennur út.</span><span class="sxs-lookup"><span data-stu-id="2b82b-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="2b82b-125">Dæmi: 2/15/2021</span><span class="sxs-lookup"><span data-stu-id="2b82b-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="2b82b-126">Smellið á „Vista“.</span><span class="sxs-lookup"><span data-stu-id="2b82b-126">Click Save.</span></span>
15. <span data-ttu-id="2b82b-127">Lokið síðunni.</span><span class="sxs-lookup"><span data-stu-id="2b82b-127">Close the page.</span></span>
16. <span data-ttu-id="2b82b-128">Smellið á flipann Ráðningar.</span><span class="sxs-lookup"><span data-stu-id="2b82b-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="2b82b-129">Smellið á I-9..</span><span class="sxs-lookup"><span data-stu-id="2b82b-129">Click I-9.</span></span>
18. <span data-ttu-id="2b82b-130">Smellið á „Nýtt“.</span><span class="sxs-lookup"><span data-stu-id="2b82b-130">Click New.</span></span>
19. <span data-ttu-id="2b82b-131">Veljið valkost í svæðinu Vinnuhæfni.</span><span class="sxs-lookup"><span data-stu-id="2b82b-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="2b82b-132">Ef starfsmaðurinn er ekki ríkisborgari BNA, verður að færa inn lögheimili starfsmanns eða leyfisnúmer.</span><span class="sxs-lookup"><span data-stu-id="2b82b-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="2b82b-133">Veldu valkostinn GroupListA.</span><span class="sxs-lookup"><span data-stu-id="2b82b-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="2b82b-134">Listinn sem þú velur fer eftir því hverskonar auðkenni starfsmaðurinn veitti.</span><span class="sxs-lookup"><span data-stu-id="2b82b-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="2b82b-135">Starfsmanns þurfa að útvega eitt List A-skjal eða skjal eitt úr List B og C. Til dæmis, ef starfsmaðurinn gaf upp í vegabréf er hægt að velja Lista A.</span><span class="sxs-lookup"><span data-stu-id="2b82b-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="2b82b-136">Hins vegar ef starfsmaður hefur aðeins gefin upp ökuskírteini og almannatryggingaskírteini, þá verður að velja lista B og C.</span><span class="sxs-lookup"><span data-stu-id="2b82b-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="2b82b-137">Veljið gerð skjalsins sem starfsmaðurinn veitti, í svæðinu I-9 skjal.</span><span class="sxs-lookup"><span data-stu-id="2b82b-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="2b82b-138">Í reitinn skjalanúmer skal slá inn eða velja gildi.</span><span class="sxs-lookup"><span data-stu-id="2b82b-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="2b82b-139">Smellið á „Vista“.</span><span class="sxs-lookup"><span data-stu-id="2b82b-139">Click Save.</span></span>

