---
title: Ráðningar sannprófun i9 sannprófun
description: Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 8bfd6a5c26c6e68d10918bdc4e4144b640035b32
ms.sourcegitcommit: 6cb174d1ec8b55946dca4db03d6a3c3f4c6fa2df
ms.translationtype: HT
ms.contentlocale: is-IS
ms.lasthandoff: 03/09/2021
ms.locfileid: "5565991"
---
# <a name="employment-verification-i9-verification"></a>Ráðningar sannprófun i9 sannprófun

[!include [banner](../../../includes/banner.md)]

Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna. Þetta ferli mun fara í gegnum skref til að skrá nauðsynleg skjöl fyrir I-9 staðfestingu. Nota USMF fyrirtæki fyrir þessa aðferð.

1. Farið í Mannauður > Starfsfólk > Starfsmenn.
2. Nota flýtiafmörkun til að finna færslur Til dæmis, sía svæðið Heiti með gildinu 'Vince'.
3. Velja starfsmann. Dæmi: Vince Prado
4. Útvíkka flýtiflipann Persónuupplýsingar.
5. Smellt er á Auðkennisnúmer.
6. Smellt er á Nýtt.
7. Velja gerð auðkennis sem verið er að skrá. Dæmi: Vegabréf
8. Í reitnum Númer skal slá inn gildi.
9. Veljið Já í aðalreitnum.
10. Í reitinn Lýsing er færð inn stutt lýsing á auðkennisfærslunni.
11. Velja útgáfuaðilinn velur aðilann sem gaf út eyðublað til að auðkenna starfsmann. Dæmi: Stjórnvalda
12. Færið inn dagsetningu sem aðilinn gaf út eyðublaðið fyrir auðkenningu starfsmanns. Dæmi: 02/15/2011
13. Færið inn dagsetninguna eyðublað fyrir auðkenningu rennur út. Dæmi: 2/15/2021
14. Smellið á „Vista“.
15. Lokið síðunni.
16. Smellið á flipann Ráðningar.
17. Smellið á I-9..
18. Smellið á „Nýtt“.
19. Veljið valkost í svæðinu Vinnuhæfni.
    * Ef starfsmaðurinn er ekki ríkisborgari BNA, verður að færa inn lögheimili starfsmanns eða leyfisnúmer.  
20. Veldu valkostinn GroupListA.
    * Listinn sem þú velur fer eftir því hverskonar auðkenni starfsmaðurinn veitti. Starfsmanns þurfa að útvega eitt List A-skjal eða skjal eitt úr List B og C. Til dæmis, ef starfsmaðurinn gaf upp í vegabréf er hægt að velja Lista A. Hins vegar ef starfsmaður hefur aðeins gefin upp ökuskírteini og almannatryggingaskírteini, þá verður að velja lista B og C.  
21. Veljið gerð skjalsins sem starfsmaðurinn veitti, í svæðinu I-9 skjal.
22. Í reitinn skjalanúmer skal slá inn eða velja gildi.
23. Smellið á „Vista“.



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]