---
title: Ráðningar sannprófun i9 sannprófun
description: Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: HT
ms.contentlocale: is-IS
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065682"
---
# <a name="employment-verification-i9-verification"></a>Ráðningar sannprófun i9 sannprófun

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna. Þetta ferli mun fara í gegnum skref til að skrá nauðsynleg skjöl fyrir I-9 staðfestingu. Nota USMF fyrirtæki fyrir þessa aðferð.

1. Opna **Human Resources \> Starfskraftar \> Starfsmenn**.
2. Nota flýtiafmörkun til að finna færslur Til dæmis, sía á gildið **Vince** fyrir reitinn **Nafn**.
3. Velja starfsmann. Þú getur til dæmis valið **Vince Prado**.
4. Veljið flýtiflipann **Persónuupplýsingar**.
5. Veljið **Auðkennisnúmer**.
6. Veljið **Nýtt**.
7. Veldu gerð auðkenningar sem verið er að skrá. Þú getur til dæmis valið **Vegabréf**.
8. Í reitinn **Númer** skal slá inn gildi.
9. Veljið **Já** í reitnum **Aðal**.
10. Í reitinn **Lýsing** er færð inn stutt lýsing á auðkennisfærslunni.
11. Í **Útgáfustofnun** skal velja aðilinn gaf út eyðublaðið fyrir auðkenningu starfsmanns. Þú getur til dæmis valið **Stjórnvöld**.
12. Færið inn dagsetningu sem aðilinn gaf út eyðublaðið fyrir auðkenningu starfsmanns. Til dæmis má slá inn **02/15/2011** (15. febrúar 2011).
13. Færið inn dagsetninguna eyðublað fyrir auðkenningu rennur út. Til dæmis er hægt að sláinn **2/15/2021** (15. febrúar 2021).
14. Veldu **Vista**.
15. Lokið síðunni.
16. Veljið flipann **Ráðningar**.
17. Velja **I-9**.
18. Veljið **Nýtt**.
19. Veljið valkost í svæðinu **Vinnuhæfni**.

    Ef starfsmaðurinn er ekki ríkisborgari BNA, verður að færa inn lögheimili starfsmanns eða leyfisnúmer.

20. Veldu valkostinn **GroupListA**.

    Listinn sem þú velur fer eftir því hverskonar auðkenni starfsmaðurinn veitti. Starfsmaður verður að framvísa annað hvort einu skjali af lista A eða einu skjali af bæði lista B og lista C. Ef starfsmaðurinn framvísaði til dæmis vegabréfi er hægt að velja lista A. Ef starfsmaðurinn framvísar hins vegar aðeins ökuskírteini og nafnskírteini verður að velja lista B og lista C.

21. Veljið gerð skjalsins sem starfsmaðurinn veitti, í svæðinu **I-9 skjal**.
22. Í reitinn **Skjalanúmer** skal slá inn eða velja gildi.
23. Veldu **Vista**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
