---
title: Ráðningar sannprófun i9 sannprófun
description: Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: MT
ms.contentlocale: is-IS
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065682"
---
# <a name="employment-verification-i9-verification"></a>Ráðningar sannprófun i9 sannprófun

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna. Þetta ferli mun fara í gegnum skref til að skrá nauðsynleg skjöl fyrir I-9 staðfestingu. Nota USMF fyrirtæki fyrir þessa aðferð.

1. Fara til **Mannauður \> Verkamenn \> Starfsmenn**.
2. Nota flýtiafmörkun til að finna færslur Til dæmis, sía á gildi á **Vince** fyrir **Nafn** sviði.
3. Velja starfsmann. Til dæmis, veldu **Vince Prado**.
4. Veldu **Persónuupplýsingar** Flýtiflipi.
5. Veldu **Auðkennisnúmer**.
6. Veljið **Nýtt**.
7. Veldu auðkenningartegundina sem þú ert að taka upp. Til dæmis, veldu **Vegabréf**.
8. Í **Númer** reit, sláðu inn gildi.
9. Í **Aðal** reit, veldu **Já**.
10. Í **Lýsing** reit, sláðu inn stutta lýsingu á auðkenningarskránni.
11. Í **Útgáfustofnun** reit, veldu stofnunina sem gaf út eyðublaðið fyrir auðkenningu til starfsmannsins. Til dæmis, veldu **Ríkisstjórn**.
12. Sláðu inn dagsetninguna þegar útgáfustofnunin gaf starfsmanninum út skilríki. Til dæmis, slá inn **15.02.2011** (15. febrúar 2011).
13. Færið inn dagsetninguna eyðublað fyrir auðkenningu rennur út. Til dæmis, slá inn **15.2.2021** (15. febrúar 2021).
14. Veldu **Vista**.
15. Lokið síðunni.
16. Veldu **Atvinna** flipa.
17. Veldu **I-9**.
18. Veljið **Nýtt**.
19. Í **Starfshæfi** reit, veldu valkost.

    Ef starfsmaðurinn er ekki ríkisborgari eða ríkisborgari í Bandaríkjunum, verður þú að slá inn útlendinga- eða inngöngunúmer starfsmanns.

20. Veldu **HóplistiA** valmöguleika.

    Listinn sem þú velur fer eftir auðkenningarformi sem starfsmaðurinn gaf upp. Starfsmaður verður að leggja fram annað hvort eitt skjal af lista A eða eitt skjal af bæði lista B og lista C. Til dæmis, ef starfsmaðurinn lagði fram vegabréf, getur þú valið lista A. Hins vegar, ef starfsmaðurinn lagði aðeins fram ökuskírteini og almannatryggingar kort, þú verður að velja lista B og lista C.

21. Í **I-9 skjalategund** reit, veldu þá gerð skjalsins sem starfsmaðurinn lagði fram.
22. Í **Skjal númer** reit, sláðu inn eða veldu gildi.
23. Veldu **Vista**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
