---
title: Ráðningar sannprófun i9 sannprófun
description: Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.sourcegitcommit: 0f530e5f72a40f383868957a6b5cb0e446e4c795
ms.translationtype: HT
ms.contentlocale: is-IS
ms.lasthandoff: 01/29/2019
ms.locfileid: "333324"
---
# <a name="employment-verification-i9-verification"></a>Ráðningar sannprófun i9 sannprófun

[!include [task guide banner](../../../includes/task-guide-banner.md)]

Reglugerð um endurbætur og eftirlit innflytjenda krefst þess að vinnuveitendur sannreyni hlfni til vinnuleyfis fyrir nýráðinna starfsmanna. Þetta ferli mun fara í gegnum skref til að skrá nauðsynleg skjöl fyrir I-9 staðfestingu. Nota USMF fyrirtæki fyrir þessa aðferð.

1. Farið í Mannauður > Starfsfólk > Starfsmenn.
2. Nota flýtiafmörkun til að finna færslur Til dæmis, sía svæðið Heiti með gildinu 'Vince'.
3. Velja starfsmann. Dæmi: Vince Prado
4. Útvíkka flýtiflipann Persónuupplýsingar.
5. Smellt er á Auðkennisnúmer.
6. Smellt er á Nýtt.
7. Velja gerð auðkennis sem verið er að skrá. Dæmi: Vegabréf
8. Í reitnum Númer skal slá inn gildi.
9. Veljið Já í aðalreitnum.
10. Í reitinn Lýsing er færð inn stutt lýsing á auðkennisfærslunni.
11. Velja útgáfuaðilinn velur aðilann sem gaf út eyðublað til að auðkenna starfsmann. Dæmi: Stjórnvalda
12. Færið inn dagsetningu sem aðilinn gaf út eyðublaðið fyrir auðkenningu starfsmanns. Dæmi: 02/15/2011
13. Færið inn dagsetninguna eyðublað fyrir auðkenningu rennur út. Dæmi: 2/15/2021
14. Smellið á „Vista“.
15. Lokið síðunni.
16. Smellið á flipann Ráðningar.
17. Smellið á I-9..
18. Smellið á „Nýtt“.
19. Veljið valkost í svæðinu Vinnuhæfni.
    * Ef starfsmaðurinn er ekki ríkisborgari BNA, verður að færa inn lögheimili starfsmanns eða leyfisnúmer.  
20. Veldu valkostinn GroupListA.
    * Listinn sem þú velur fer eftir því hverskonar auðkenni starfsmaðurinn veitti. Starfsmanns þurfa að útvega eitt List A-skjal eða skjal eitt úr List B og C. Til dæmis, ef starfsmaðurinn gaf upp í vegabréf er hægt að velja Lista A. Hins vegar ef starfsmaður hefur aðeins gefin upp ökuskírteini og almannatryggingaskírteini, þá verður að velja lista B og C.  
21. Veljið gerð skjalsins sem starfsmaðurinn veitti, í svæðinu I-9 skjal.
22. Í reitinn skjalanúmer skal slá inn eða velja gildi.
23. Smellið á „Vista“.

